@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$background: #F0F0F0;
$text-color: #1e1e1f;
// $primary-color: #3e362e;
// $primary-hover-color: #8e3b46;
$primary-color: #8e3b46;
$primary-hover-color: #3e362e;
$danger-color: red;

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  background-color: $background;
}

a {
  color: $text-color;
  text-decoration: none;
}

.btn {
  color: white;
  background: $primary-color;
  padding: 0.8rem 1.1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  &:hover {
    background: $primary-hover-color;
  }
}

.error-message {
  color: $danger-color;
  font-size: 0.8rem;
  font-style: italic;
  margin: 0.1rem 0;
}

.soon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  .img-holder {
    height: 50%;
    margin: 2rem 0;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-weight: 600;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 5;
  box-shadow: 0 0 0.5rem #00000030;

  .nav-icon {
    display: none;
  }

  .logo-holder {
    display: flex;
    align-items: center;
    
    img{
        max-width: 100%;
        height: 70px;
    }
  }

  .nav-items {
    padding: 1rem 0;
    display: flex;
    gap: 2rem;
    
    .nav-item {
      text-decoration: none;
      
      &.inactive {
        color: $text-color;
            
        &:hover {
          color: $primary-hover-color;
        }
      }
        
      &.active {
        color: $primary-color;
          
        &:hover {
            color: $primary-hover-color;
        }
      }
    }
  }

  .auth-links {
    display: flex;
    gap: 2rem;  
    
    .auth-link {
      border-radius: 10px;
      padding: 0.8rem 1.1rem;

      &.sign-up {
        color: $primary-color;

        &:hover {
          color: $primary-hover-color;
        }
      }

      &.login {
        background: $primary-color;
        color: white;

        &:hover {
          background: $primary-hover-color;
        }
      }
    }
  }
}

footer {
  margin-top: auto;
  background-color: $primary-hover-color;
  
  .footer-content {
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-between;
    
    .footer-col {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      flex: 1;
      
      .footer-col-title {
        color: #d7d6d6;
        font-size: 1rem;
        font-weight: 600;

        &:after {
          content: "";
          display: block;
          width: 50px;
          height: 3px;
          background-color: $primary-color;
          margin-top: 0.5rem;
        }
      }

      .footer-col-links {
        display: flex;
        flex-direction: column;
        color: #d7d6d6;
        gap: 0.5rem;

        a {
          color: #d7d6d6;

          &:hover {
            color: #fff;
            transition: all 0.3s;
            transform: translateX(5px);
          }
        }
      
      }

      p {
        color: #d7d6d6;
      }

      .socials {
        display: flex;
        gap: 1rem;

        a {
          color: #d7d6d6;

          &:hover {
            color: #fff;
            transition: all 0.3s;
          }  
        }
      }
    }
  }

  .tag {
    width: 100%;
    background-color: $background;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
    text-decoration: underline;

    // a {
    //   &:hover {
    //     text-decoration: underline;
    //   }
    // }
  }
}

.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, #C8C8D5 2px, transparent 1px);
    background-size: 40px 40px;
    pointer-events: none; 
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 50%;
    margin: 2rem 0;
    border-radius: 10px;
    background-color: white;
    z-index: 3;
    box-shadow: 0 0 0.5rem #00000030;

    .auth-title-holder {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;

      .img-holder {
        width: 120px;
        height: 30px;
        margin-bottom: 1rem;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .auth-title {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        color: $primary-color;
      }

      span {
        color: $text-color;
      }
    }

    .auth-details {
      width: 100%;
      margin-bottom: 1rem;

      .auth-input {
        width: 100%;
        padding: 0.8rem 1rem;
        background-color: $background;
        border: 1px solid $background;;
        outline: none;
        transition: border-color 0.3s;
        border-radius: 10px;
        font-size: 1rem;

        &:focus {
          border-color: brown
        }
      }
    }

    .auth-btn {
      width: 100%;
      margin: 0.5rem 0;
      font-size: 1rem;
    }

    .auth-redirect {
      span {
        color: $primary-color;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.home-container {
  background-color: white;
  
  .header-container {
    position: relative;
    
    .home-background {
      width: 100%;
      height: 80vh;
      object-fit: cover;
      filter: brightness(30%);
    }

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;  
      
      .header-title {
        font-size: 5rem;
        font-weight: 600;
        color: $primary-color;
        text-transform: uppercase
      }
      
      p {
        font-size: 1.5rem;
        color: white;
        margin: 2rem 0;
      }
    }
  }
  
  .section2 {
    background-color: #F0F0F0;
  }
  
  .section {
    padding: 3rem 2rem;
    display: flex;
    gap: 2rem;

    .section-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .section-title {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 600;
      }

      .section-desc {
        font-size: 1.2rem;
        color: $text-color;
      }
    }

    .section-img-holder {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .home1 {
        height: 70%;
        width: 70%;
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
  
  .new-group-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 0.3rem;
    position: relative;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 40%;
    transform: translate(-50%, -50%);
    z-index: 2;

    .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
    .title {
      text-align: center;
      font-weight: 600;
      color: $primary-color;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .form-group {
        .create-input {
          width: 100%;
          padding: 0.5rem;
          border: 1px solid #00000040;
          border-radius: 0.3rem;

          &:focus {
            outline: none;
            border-color: $text-color;
          }
        }
      }
      .create {
        width: 100%;
      }
    }
  }
}

.how-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, #C8C8D5 2px, transparent 1px);
    background-size: 40px 40px;
    pointer-events: none;
  }
  
  .how-content{ 
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 3;
    padding: 2rem 1rem;
    background-color: #F0F0F0;
    
    .how-title {
      text-align: center;
      font-size: 2rem;
      color: $primary-color;
      font-weight: 600;
    }

    .section {
      .section-title {
        font-size: 1.5rem;
        color: $primary-color;
        margin-bottom: 0.5rem;
      }
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        gap: 1.2rem;

        li {
          font-size: 1.1rem;
          margin-bottom: 0.2rem;
          color: $text-color;
        }
      }
    }
  }
}

.main-container {
  .sidebar {
    width: 80px;
    min-width: 80px;
    height: 100vh;
    background-color: rgb(255, 254, 254);
    position: fixed;
    display: flex;
    flex-direction: column;
    transition: all 200ms ease-in-out;
    z-index: 999;

    &.hide {
      width: 15%;
      min-width: 180px;

      .sidebar-links {
        .sidelinks {
          .sidelink {
            .text {
              opacity: 1;
            }
          }
        }
      }
    }

    .sidebar-toggle {
      position: absolute;
      width: 30px;
      height: 30px;
      box-shadow: 0 0 0.5rem #00000030;
      background: linear-gradient(
        to right,
        $text-color,
        $primary-color
      );
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      right: -15px;
      top: 15px;
      border-radius: 0.4rem;
      color: $background;
      z-index: 10000000;
      // i {
      //   transition: all 200ms ease-in-out;
      // }

      // &.hide {
      //   i {
      //     rotate: 180deg;
      //   }
      // }
    }

    .logo {
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: flex-start;
      padding: 1rem 0;
      position: relative;
      // border-right: 1px solid #BBBBBB;

      img {
        position: absolute;
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }

    .sidebar-links {
      width: 100%;
      height: 100%;
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // border-right: 1px solid #BBBBBB;

      .sidelinks {
        width: 100%;
        display: flex;
        flex-direction: column;

        .sidelink {
          width: 100%;
          display: flex;
          padding: 1rem;
          cursor: pointer;
          color: $text-color;

          .icon {
            width: 100%;
            height: 100%;
            padding-left: 1rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            transition: all 200ms ease-in-out;
          }

          .text {
            transition: all 200ms ease-in-out;
            position: absolute;
            opacity: 0;
            left: calc(30px + 2rem);
          }

          &.logout {
            color: $danger-color;
          }

          &:hover {
            background-color: $background;
          }

          &.active {
            font-weight: 500;
            color: $primary-color;
            background-color: $background;
          }
        }
      }
    }
  }

  .main-content {
    width: calc(100% - (80px + 2%));
    position: fixed;
    right: 0;
    min-height: 100vh;
    transition: all 200ms ease-in-out;
    overflow-y: auto;
    position: absolute; 
    padding: 3rem 1rem;

    &.hide {
      width: calc(100% - 17%);
    }

    .profile-container {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 1rem;
    }

    .page-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      background: white;
      padding: 1rem;   
      box-shadow: 0 0 1rem #00000030; 
      
      .profile-details {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .title-holder {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .title {
            color: $primary-color;
            font-size: 1.5rem;
            font-weight: 600;
          }
          .role {
            font-size: 1.8rem;
            font-weight: 600;
            padding-left: 0.5rem;
          }
          .admin {
            color: #0047AB;
            border-left: 1px solid #0047AB;
            border-bottom: 1px solid #0047AB;
          }
          .manager {
            color: #00796B;
            border-left: 1px solid #00796B;
            border-bottom: 1px solid #00796B;
          }
          .employee {
            color: #808080;
            border-left: 1px solid #808080;
            border-bottom: 1px solid #808080;
          }
        }

        .details {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 1.5rem;
          padding: 2rem 0;

          .profile-detail {
            display: flex;
            gap: 1rem;

            .detail-title {
              width: 150px;
              white-space: nowrap;
              font-weight: 600;
            }
          }
        }
      }
      
      .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;

        .btn-cancel {
          color: $primary-color;
          font-weight: 600;
        }

        .header-title {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
        }

        .page-title {
          color: $primary-color;
          font-size: 1.5rem;
          font-weight: 600;
        }

        .add-btn {
          padding: 0.5rem 1rem;
          background-color: $primary-color;
          color: white;
          cursor: pointer;

          &:hover {
            background-color: $primary-hover-color;
          }
        }

        .title {
          &:hover {
            text-decoration: underline;
          }
        }

        .user-header-title {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          margin-bottom: 2rem;

          div {
            display: flex;
            align-items: center;
            gap: 0.5rem;
          }
          
          div:nth-child(1) {
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .user-holder {
        width: 100%;
        display: flex;
        flex-direction: column;
        
        .user-card {  
          display: flex;
          gap: 1rem;
          align-items: center;

          .avatar {
            background-color: $primary-color;
            color: white;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
          .user-card-details {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
    
            .user-card-username {
              font-size: 0.9rem;
            }
          }
        }

        .user-container {
          .user-details-container {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            margin: 2rem 0;

            .user-details {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              width: 100%;

              span {
                color: gray;
              }
            }
          }

          .manager-btn {
            padding: 0.5rem 1rem;
            border-radius: 0.3rem;
            border: none;
            
            &.disabled {
              cursor: not-allowed;
              background-color: #00000030;
            }

            &.active {
              background-color: $primary-color;
              color: white;
              cursor: pointer;

              &:hover {
                background-color: $primary-hover-color;
              }
            }
          }
        }
      }

      .inner-navs {
        width: 100%;
        display: flex;
        padding: 2rem 0;
        position: relative;
      
        &::before {
          content: "";
          position: absolute;
          bottom: 2rem;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #00000012;
          border-radius: 10px 10px 0 0;
        }

        .card-navs-holder {
          display: flex;
          align-items: center;
          border-radius: 10px 10px 0 0;
          overflow: hidden;
          background-color: #f7f7f7;

          .card-nav {
            padding: 1rem;
            position: relative;

            &:hover {
              background-color: #f0f0f0;
            }

            &.active {
              background-color: #ebebeb;
      
              &::before {
                opacity: 1;
              }
            }

            &::before {
              background-color: $primary-color;
              position: absolute;
              content: "";
              bottom: 0;
              left: 0;
              transition: all 200ms ease-in-out;
              width: 100%;
              opacity: 0;
              pointer-events: none;
              height: 4px;
            }
          }  
        }
      }

      .group-form {
        display: flex;
        width: 100%;
        // background-color: pink;

        .input-button-holder {
          display: flex;
          align-items: center;
          gap: 1rem;
          width: 100%;

          .search-holder {
            position: relative;
            width: 80%;
  
            .search-input {
              width: 100%;
              padding: 0.5rem;
              border: 1px solid #00000040;
              border-radius: 0.3rem;
              box-sizing: border-box;

              &:focus {
                outline: none;
                border-color: $text-color;
              }
            }
  
            .search-results {
              position: absolute;
              width: 100%;
              max-height: 200px;
              overflow-y: auto;
              background: white;
              box-shadow: 0 0 1rem #00000030;
              z-index: 1000;
  
              .search-result-item {
                padding: 0.5rem;
                cursor: pointer;
  
                &:hover {
                  background-color: #f0f0f0;
                }
              }
            }
          }

          .add-button {
            color: white;
            width: 20%;
            border-radius: 0.3rem;
            padding: 0.5rem;
            box-sizing: border-box;
            cursor: pointer;
            border: none;
            background-color: $primary-color;
          }
        }
      }

      .page-content {
        .task-form {
          width: 100%;

          .form-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;

            label {
              color: $primary-color;
              font-size: 1.1rem;
              margin-bottom: 0.5rem;
            }

            .task-input {
              width: 100%;
              padding: 0.5rem;
              border: 1px solid #ddd;
              border-radius: 0.3rem;
              resize: none;

              &:focus {
                outline: none;
                border-color: $text-color;
              }
            }
            .search-results {
              position: relative;
              max-height: 150px;
              overflow-y: auto;
              box-shadow: 0 0 1rem #00000030;
              background-color: #fff;
              z-index: 1000; 

              .search-result-item {
                padding: 0.5rem;
                cursor: pointer;

                &:hover {
                  background-color: #f0f0f0;
                }
              }
            }            
          }

          .assign {
            width: 100%;
          }

          .disabled {
            padding: 0.8rem 1.1rem;
            width: 100%;
            cursor: not-allowed;  
          }
        }

        .group-container {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
          gap: 1rem;
          margin: 2rem 0;

          .group-item{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;
            border-radius: 10px;
            box-shadow: 0 0 0.5rem #00000030;
            background-color: white;

            .group-name {
              width: 100%;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  // body {
  //   background-color: red;
  // }

  .overlay {
    .new-group-container {
      width: 60%;
      height: 30%;
      left: 55%;
    }
  }

  .auth-container {
    form {
      width: 80%;
    }
  }

  .home-container {
    .header-container {
      .home-background {
        height: 50vh;
      }

      .header {
        .header-title {
          font-size: 4rem;
        }

        p {
          font-size: 1.2rem;
        }
      }
    }

    .section {
      .section-content {
        .section-title {
          font-size: 1.2rem;
        }

        .section-desc {
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 728px) {
  // body {
  //   background-color: orange;
  // }
  .navbar {
    padding: 0.3rem 0;
    flex-direction: column;

    .nav-icon {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;                
    }

    .logo-holder {
      img {
        height: 34px;
      }
    }
      
    .nav-items {
      width: 100%;
      flex-direction: column;
      align-items: center;
      margin-top: 0.5rem;
      border-top: 1px solid #BBBBBB;
      gap: 1rem;

      &.hide {
          display: none;
      }

      &.show {
        display: flex;
      }
    } 
    
    .auth-links {
      width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      &.hide {
        display: none;
      }

      &.show {
        display: flex;
      }
    }
  }

  .main-container {
    .main-content {
      .page-container {
        .group-form {
          .input-button-holder {
            width: 100%;
            gap: 0.2rem;
            
            .search-holder {
              width: 100%;
            }
            .add-button {
              width: 100%;
            }
          }
        }
      }
      .profile-container {
        .profile-details {
          gap: 0.5rem;

          .title-holder {
            .role {
              font-size: 1.5rem;
            }
          }

          .details {
            gap: 1rem;
            padding: 1.8rem 0;

            .profile-detail {
              gap: 0.1rem;

              .detail-title {
                width: 80px;
              }
            }
          }
        }
      }
    }
  }

  .home-container {
    .header-container {
      .header {
        .header-title {
          font-size: 3rem;
        }

        p {
          font-size: 1rem;
        }
      }
    }

    .section {
      flex-direction: column;

      .section-content {
        gap: 1rem;

        .section-title {
          font-size: 1.2rem;
        }

        .section-desc {
          font-size: 1rem;
        }
      }

      .section-img-holder {
        width: 100%;
        height: 50%;
        
      }
    }
  }
  footer {
    .footer-content {
      padding: 2rem 1rem;

      .footer-col {
        .footer-col-title {
          font-size: 0.9rem;
        }

        .footer-col-links {
          a {
            font-size: 0.9rem;
          }
        }

        p {
          font-size: 0.9rem;
        }

        .socials {
          a {
            font-size: 0.9rem;
          }
        }
      }
    }
    .tag {
      padding: 0.5rem 0;
      font-size: 0.9rem;
    }
  }
}

@media screen and (max-width: 650px) {
  // body {
  //   background-color: yellow;
  // }
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  .overlay {
    .new-group-container {
      left: 60%;
    }
  }

  .main-container {
    .main-content {
      .profile-container {
        .profile-details {
          .details {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }

  .home-container {
    .header-container {

      .header {
        .header-title {
          font-size: 2.2rem;
        }

        p {
          font-size: 0.9rem;
        }
      }
    }
    .section {
      padding: 2rem 1.5rem;
    }
  }

  footer {
    .footer-content {
      flex-direction: column;

      .footer-col {
        gap: 0.8rem;
        margin-bottom: 2rem;
        
      }
    }
  }

  .auth-container {
    form {
      width: 90%;
      padding: 1rem;

      .auth-title-holder {
        .img-holder {
          width: 100px;
          height: 25px;
        }
      }

      .auth-title {
        font-size: 1rem;
      }

      .auth-details {
        margin-bottom: 0.5rem;

        .auth-input {
          padding: 0.6rem 0.8rem;
          font-size: 0.9rem;
        }
      }

      .auth-btn {
        padding: 0.6rem 0.8rem;
        font-size: 0.9rem;
      }

      .auth-redirect {
        font-size: 0.9rem;
      }
    }
  }

  .main-container {
    .main-content {
      .page-container {
        .user-holder {
          .user-container {
            .user-details-container {
              grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
            }
          }
        }
        form {
          .input-button-holder {
            flex-direction: column;
            gap: 0.2rem;

            .search-holder {
              width: 100%;
            }
            .add-button {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  // body {
  //   background: green;
  // }

  .main-container {
    .main-content {
      .profile-container {
        .profile-details {
          .title-holder{
            flex-direction: column;
            gap: 0.8rem;

            .title {
              font-size: 1.2rem;
            }
            .role {
              font-size: 1rem;
            }
          }
          .details {
            padding: 1rem 0;

            .profile-detail {
              flex-direction: column;
            }
          }
        }
      }
    }
  }

  .home-container {
    .header-container {
      .header {
        .header-title {
          font-size: 1.5rem;
        }

        p {
          font-size: 0.8rem;
        }
      }
    }

    .section {
      .section-content {
        .section-title {
          font-size: 1rem;
        }
      }
    }
  }
  .main-container {
    .main-content {
      .page-container {
        .user-holder {
          .user-container {
            .user-details-container {
              grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
            }
          }
        }
      }
    }
  }
}