@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  background-color: #F0F0F0;
}

a {
  color: #1e1e1f;
  text-decoration: none;
}

.btn {
  color: white;
  background: #8e3b46;
  padding: 0.8rem 1.1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background: #3e362e;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  font-style: italic;
  margin: 0.1rem 0;
}

.soon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.soon-container .img-holder {
  height: 50%;
  margin: 2rem 0;
}
.soon-container .img-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-weight: 600;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 5;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1882352941);
}
.navbar .nav-icon {
  display: none;
}
.navbar .logo-holder {
  display: flex;
  align-items: center;
}
.navbar .logo-holder img {
  max-width: 100%;
  height: 70px;
}
.navbar .nav-items {
  padding: 1rem 0;
  display: flex;
  gap: 2rem;
}
.navbar .nav-items .nav-item {
  text-decoration: none;
}
.navbar .nav-items .nav-item.inactive {
  color: #1e1e1f;
}
.navbar .nav-items .nav-item.inactive:hover {
  color: #3e362e;
}
.navbar .nav-items .nav-item.active {
  color: #8e3b46;
}
.navbar .nav-items .nav-item.active:hover {
  color: #3e362e;
}
.navbar .auth-links {
  display: flex;
  gap: 2rem;
}
.navbar .auth-links .auth-link {
  border-radius: 10px;
  padding: 0.8rem 1.1rem;
}
.navbar .auth-links .auth-link.sign-up {
  color: #8e3b46;
}
.navbar .auth-links .auth-link.sign-up:hover {
  color: #3e362e;
}
.navbar .auth-links .auth-link.login {
  background: #8e3b46;
  color: white;
}
.navbar .auth-links .auth-link.login:hover {
  background: #3e362e;
}

footer {
  margin-top: auto;
  background-color: #3e362e;
}
footer .footer-content {
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-between;
}
footer .footer-content .footer-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}
footer .footer-content .footer-col .footer-col-title {
  color: #d7d6d6;
  font-size: 1rem;
  font-weight: 600;
}
footer .footer-content .footer-col .footer-col-title:after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #8e3b46;
  margin-top: 0.5rem;
}
footer .footer-content .footer-col .footer-col-links {
  display: flex;
  flex-direction: column;
  color: #d7d6d6;
  gap: 0.5rem;
}
footer .footer-content .footer-col .footer-col-links a {
  color: #d7d6d6;
}
footer .footer-content .footer-col .footer-col-links a:hover {
  color: #fff;
  transition: all 0.3s;
  transform: translateX(5px);
}
footer .footer-content .footer-col p {
  color: #d7d6d6;
}
footer .footer-content .footer-col .socials {
  display: flex;
  gap: 1rem;
}
footer .footer-content .footer-col .socials a {
  color: #d7d6d6;
}
footer .footer-content .footer-col .socials a:hover {
  color: #fff;
  transition: all 0.3s;
}
footer .tag {
  width: 100%;
  background-color: #F0F0F0;
  display: flex;
  justify-content: center;
  padding: 0.8rem 0;
  text-decoration: underline;
}

.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
}
.auth-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #C8C8D5 2px, transparent 1px);
  background-size: 40px 40px;
  pointer-events: none;
}
.auth-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 50%;
  margin: 2rem 0;
  border-radius: 10px;
  background-color: white;
  z-index: 3;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1882352941);
}
.auth-container form .auth-title-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.auth-container form .auth-title-holder .img-holder {
  width: 120px;
  height: 30px;
  margin-bottom: 1rem;
}
.auth-container form .auth-title-holder .img-holder img {
  width: 100%;
  height: 100%;
}
.auth-container form .auth-title-holder .auth-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #8e3b46;
}
.auth-container form .auth-title-holder span {
  color: #1e1e1f;
}
.auth-container form .auth-details {
  width: 100%;
  margin-bottom: 1rem;
}
.auth-container form .auth-details .auth-input {
  width: 100%;
  padding: 0.8rem 1rem;
  background-color: #F0F0F0;
  border: 1px solid #F0F0F0;
  outline: none;
  transition: border-color 0.3s;
  border-radius: 10px;
  font-size: 1rem;
}
.auth-container form .auth-details .auth-input:focus {
  border-color: brown;
}
.auth-container form .auth-btn {
  width: 100%;
  margin: 0.5rem 0;
  font-size: 1rem;
}
.auth-container form .auth-redirect span {
  color: #8e3b46;
  cursor: pointer;
}
.auth-container form .auth-redirect span:hover {
  text-decoration: underline;
}

.home-container {
  background-color: white;
}
.home-container .header-container {
  position: relative;
}
.home-container .header-container .home-background {
  width: 100%;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(30%);
}
.home-container .header-container .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.home-container .header-container .header .header-title {
  font-size: 5rem;
  font-weight: 600;
  color: #8e3b46;
  text-transform: uppercase;
}
.home-container .header-container .header p {
  font-size: 1.5rem;
  color: white;
  margin: 2rem 0;
}
.home-container .section2 {
  background-color: #F0F0F0;
}
.home-container .section {
  padding: 3rem 2rem;
  display: flex;
  gap: 2rem;
}
.home-container .section .section-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.home-container .section .section-content .section-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}
.home-container .section .section-content .section-desc {
  font-size: 1.2rem;
  color: #1e1e1f;
}
.home-container .section .section-img-holder {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-container .section .section-img-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-container .section .section-img-holder .home1 {
  height: 70%;
  width: 70%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.overlay .modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 0.3rem;
  position: relative;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 40%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.overlay .modal-container .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.overlay .modal-container .title {
  text-align: center;
  font-weight: 600;
  color: #8e3b46;
  font-size: 1.5rem;
}
.overlay .modal-container .actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.overlay .modal-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.overlay .modal-container form .form-group .create-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2509803922);
  border-radius: 0.3rem;
}
.overlay .modal-container form .form-group .create-input:focus {
  outline: none;
  border-color: #1e1e1f;
}
.overlay .modal-container form .create {
  width: 100%;
}

.how-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.how-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #C8C8D5 2px, transparent 1px);
  background-size: 40px 40px;
  pointer-events: none;
}
.how-container .how-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 3;
  padding: 2rem 1rem;
  background-color: #F0F0F0;
}
.how-container .how-content .how-title {
  text-align: center;
  font-size: 2rem;
  color: #8e3b46;
  font-weight: 600;
}
.how-container .how-content .section .section-title {
  font-size: 1.5rem;
  color: #8e3b46;
  margin-bottom: 0.5rem;
}
.how-container .how-content .section ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 1.2rem;
}
.how-container .how-content .section ul li {
  font-size: 1.1rem;
  margin-bottom: 0.2rem;
  color: #1e1e1f;
}

.loading-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: grid;
  place-items: center;
  z-index: 101;
  background-color: rgba(252, 248, 248, 0.749);
  transition: all 200ms ease-in-out;
  opacity: 0;
  pointer-events: none;
}
.loading-container.loading {
  opacity: 1;
  pointer-events: all;
}
.loading-container .loading-spinner {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotateSpinner 2s linear infinite;
}
@keyframes rotateSpinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container .sidebar {
  width: 80px;
  min-width: 80px;
  height: 100vh;
  background-color: rgb(255, 254, 254);
  position: fixed;
  display: flex;
  flex-direction: column;
  transition: all 200ms ease-in-out;
  z-index: 999;
}
.main-container .sidebar.hide {
  width: 15%;
  min-width: 180px;
}
.main-container .sidebar.hide .sidebar-links .sidelinks .sidelink .text {
  opacity: 1;
}
.main-container .sidebar .sidebar-toggle {
  position: absolute;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1882352941);
  background: linear-gradient(to right, #1e1e1f, #8e3b46);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  right: -15px;
  top: 15px;
  border-radius: 0.4rem;
  color: #F0F0F0;
  z-index: 10000000;
}
.main-container .sidebar .logo {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  padding: 1rem 0;
  position: relative;
}
.main-container .sidebar .logo img {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.main-container .sidebar .sidebar-links {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-container .sidebar .sidebar-links .sidelinks {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main-container .sidebar .sidebar-links .sidelinks .sidelink {
  width: 100%;
  display: flex;
  padding: 1rem;
  cursor: pointer;
  color: #1e1e1f;
}
.main-container .sidebar .sidebar-links .sidelinks .sidelink .icon {
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 200ms ease-in-out;
}
.main-container .sidebar .sidebar-links .sidelinks .sidelink .text {
  transition: all 200ms ease-in-out;
  position: absolute;
  opacity: 0;
  left: calc(30px + 2rem);
}
.main-container .sidebar .sidebar-links .sidelinks .sidelink.logout {
  color: red;
}
.main-container .sidebar .sidebar-links .sidelinks .sidelink:hover {
  background-color: #F0F0F0;
}
.main-container .sidebar .sidebar-links .sidelinks .sidelink.active {
  font-weight: 500;
  color: #8e3b46;
  background-color: #F0F0F0;
}
.main-container .main-content {
  width: calc(100% - (80px + 2%));
  position: fixed;
  right: 0;
  min-height: 100vh;
  transition: all 200ms ease-in-out;
  overflow-y: auto;
  position: absolute;
  padding: 3rem 1rem;
}
.main-container .main-content.hide {
  width: 83%;
}
.main-container .main-content .item-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}
.main-container .main-content .page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1882352941);
}
.main-container .main-content .page-container .task-deleted {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.main-container .main-content .page-container .task-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-container .main-content .page-container .task-info .task-title {
  width: 100%;
  color: #8e3b46;
  font-size: 1.5rem;
  font-weight: 600;
}
.main-container .main-content .page-container .task-info .task-desc {
  color: #1e1e1f;
}
.main-container .main-content .page-container .actions {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.main-container .main-content .page-container .actions .task-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  border: none;
}
.main-container .main-content .page-container .actions .edit {
  background-color: rgb(32, 135, 32);
  color: white;
}
.main-container .main-content .page-container .actions .edit:hover {
  background-color: rgb(3, 90, 3);
}
.main-container .main-content .page-container .actions .del {
  background-color: rgb(193, 53, 53);
  color: white;
}
.main-container .main-content .page-container .actions .del:hover {
  background-color: rgb(163, 19, 19);
}
.main-container .main-content .page-container .actions .disabled {
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, 0.1882352941);
}
.main-container .main-content .page-container .item-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-container .main-content .page-container .item-details .title-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-container .main-content .page-container .item-details .title-holder .title {
  color: #8e3b46;
  font-size: 1.5rem;
  font-weight: 600;
}
.main-container .main-content .page-container .item-details .title-holder .role {
  font-size: 1.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}
.main-container .main-content .page-container .item-details .title-holder .admin {
  color: #0047AB;
  border-left: 1px solid #0047AB;
  border-bottom: 1px solid #0047AB;
}
.main-container .main-content .page-container .item-details .title-holder .manager {
  color: #00796B;
  border-left: 1px solid #00796B;
  border-bottom: 1px solid #00796B;
}
.main-container .main-content .page-container .item-details .title-holder .employee {
  color: #808080;
  border-left: 1px solid #808080;
  border-bottom: 1px solid #808080;
}
.main-container .main-content .page-container .item-details .details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  padding: 2rem 0;
}
.main-container .main-content .page-container .item-details .details .item-detail {
  display: flex;
  gap: 1rem;
}
.main-container .main-content .page-container .item-details .details .item-detail .detail-title {
  width: 150px;
  white-space: nowrap;
  font-weight: 600;
}
.main-container .main-content .page-container .header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.main-container .main-content .page-container .header .btn-cancel {
  color: #8e3b46;
  font-weight: 600;
}
.main-container .main-content .page-container .header .header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.main-container .main-content .page-container .header .page-title {
  color: #8e3b46;
  font-size: 1.5rem;
  font-weight: 600;
}
.main-container .main-content .page-container .header .add-btn {
  padding: 0.5rem 1rem;
  background-color: #8e3b46;
  color: white;
  cursor: pointer;
}
.main-container .main-content .page-container .header .add-btn:hover {
  background-color: #3e362e;
}
.main-container .main-content .page-container .header .title:hover {
  text-decoration: underline;
}
.main-container .main-content .page-container .header .user-header-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.main-container .main-content .page-container .header .user-header-title .view-task:hover {
  text-decoration: underline;
}
.main-container .main-content .page-container .header .user-header-title div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.main-container .main-content .page-container .header .user-header-title div:nth-child(1) {
  cursor: pointer;
}
.main-container .main-content .page-container .header .user-header-title div:nth-child(1):hover {
  text-decoration: underline;
}
.main-container .main-content .page-container .user-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main-container .main-content .page-container .user-holder .user-card {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.main-container .main-content .page-container .user-holder .user-card .avatar {
  background-color: #8e3b46;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.main-container .main-content .page-container .user-holder .user-card .user-card-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.main-container .main-content .page-container .user-holder .user-card .user-card-details .user-card-username {
  font-size: 0.9rem;
}
.main-container .main-content .page-container .user-holder .user-container .user-details-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin: 2rem 0;
}
.main-container .main-content .page-container .user-holder .user-container .user-details-container .user-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.main-container .main-content .page-container .user-holder .user-container .user-details-container .user-details span {
  color: gray;
}
.main-container .main-content .page-container .user-holder .user-container .manager-btn {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: none;
}
.main-container .main-content .page-container .user-holder .user-container .manager-btn.disabled {
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, 0.1882352941);
}
.main-container .main-content .page-container .user-holder .user-container .manager-btn.active {
  background-color: #8e3b46;
  color: white;
  cursor: pointer;
}
.main-container .main-content .page-container .user-holder .user-container .manager-btn.active:hover {
  background-color: #3e362e;
}
.main-container .main-content .page-container .inner-navs {
  width: 100%;
  display: flex;
  padding: 2rem 0;
  position: relative;
}
.main-container .main-content .page-container .inner-navs::before {
  content: "";
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.0705882353);
  border-radius: 10px 10px 0 0;
}
.main-container .main-content .page-container .inner-navs .card-navs-holder {
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  background-color: #f7f7f7;
}
.main-container .main-content .page-container .inner-navs .card-navs-holder .card-nav {
  padding: 1rem;
  position: relative;
}
.main-container .main-content .page-container .inner-navs .card-navs-holder .card-nav:hover {
  background-color: #f0f0f0;
}
.main-container .main-content .page-container .inner-navs .card-navs-holder .card-nav.active {
  background-color: #ebebeb;
}
.main-container .main-content .page-container .inner-navs .card-navs-holder .card-nav.active::before {
  opacity: 1;
}
.main-container .main-content .page-container .inner-navs .card-navs-holder .card-nav::before {
  background-color: #8e3b46;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  transition: all 200ms ease-in-out;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  height: 4px;
}
.main-container .main-content .page-container .group-form {
  display: flex;
  width: 100%;
}
.main-container .main-content .page-container .group-form .input-button-holder {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.main-container .main-content .page-container .group-form .input-button-holder .search-holder {
  position: relative;
  width: 80%;
}
.main-container .main-content .page-container .group-form .input-button-holder .search-holder .search-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2509803922);
  border-radius: 0.3rem;
  box-sizing: border-box;
}
.main-container .main-content .page-container .group-form .input-button-holder .search-holder .search-input:focus {
  outline: none;
  border-color: #1e1e1f;
}
.main-container .main-content .page-container .group-form .input-button-holder .search-holder .search-results {
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1882352941);
  z-index: 1000;
}
.main-container .main-content .page-container .group-form .input-button-holder .search-holder .search-results .search-result-item {
  padding: 0.5rem;
  cursor: pointer;
}
.main-container .main-content .page-container .group-form .input-button-holder .search-holder .search-results .search-result-item:hover {
  background-color: #f0f0f0;
}
.main-container .main-content .page-container .group-form .input-button-holder .add-button {
  color: white;
  width: 20%;
  border-radius: 0.3rem;
  padding: 0.5rem;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  background-color: #8e3b46;
}
.main-container .main-content .page-container .page-content .task-form {
  width: 100%;
}
.main-container .main-content .page-container .page-content .task-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.main-container .main-content .page-container .page-content .task-form .form-group label {
  color: #8e3b46;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.main-container .main-content .page-container .page-content .task-form .form-group .task-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.3rem;
  resize: none;
}
.main-container .main-content .page-container .page-content .task-form .form-group .task-input:focus {
  outline: none;
  border-color: #1e1e1f;
}
.main-container .main-content .page-container .page-content .task-form .form-group .search-results {
  position: relative;
  max-height: 150px;
  overflow-y: auto;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1882352941);
  background-color: #fff;
  z-index: 1000;
}
.main-container .main-content .page-container .page-content .task-form .form-group .search-results .search-result-item {
  padding: 0.5rem;
  cursor: pointer;
}
.main-container .main-content .page-container .page-content .task-form .form-group .search-results .search-result-item:hover {
  background-color: #f0f0f0;
}
.main-container .main-content .page-container .page-content .task-form .assign {
  width: 100%;
}
.main-container .main-content .page-container .page-content .task-form .disabled {
  padding: 0.8rem 1.1rem;
  width: 100%;
  cursor: not-allowed;
}
.main-container .main-content .page-container .page-content .group-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin: 2rem 0;
}
.main-container .main-content .page-container .page-content .group-container .group-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1882352941);
  background-color: white;
}
.main-container .main-content .page-container .page-content .group-container .group-item .group-name {
  width: 100%;
  font-weight: 600;
}

@media screen and (max-width: 1000px) {
  .overlay .modal-container {
    width: 60%;
    height: 30%;
    left: 55%;
  }
  .auth-container form {
    width: 80%;
  }
  .home-container .header-container .home-background {
    height: 50vh;
  }
  .home-container .header-container .header .header-title {
    font-size: 4rem;
  }
  .home-container .header-container .header p {
    font-size: 1.2rem;
  }
  .home-container .section .section-content .section-title {
    font-size: 1.2rem;
  }
  .home-container .section .section-content .section-desc {
    font-size: 1rem;
  }
}
@media screen and (max-width: 728px) {
  .navbar {
    padding: 0.3rem 0;
    flex-direction: column;
  }
  .navbar .nav-icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .navbar .logo-holder img {
    height: 34px;
  }
  .navbar .nav-items {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    border-top: 1px solid #BBBBBB;
    gap: 1rem;
  }
  .navbar .nav-items.hide {
    display: none;
  }
  .navbar .nav-items.show {
    display: flex;
  }
  .navbar .auth-links {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .navbar .auth-links.hide {
    display: none;
  }
  .navbar .auth-links.show {
    display: flex;
  }
  .main-container .main-content .page-container .group-form .input-button-holder {
    width: 100%;
    gap: 0.2rem;
  }
  .main-container .main-content .page-container .group-form .input-button-holder .search-holder {
    width: 100%;
  }
  .main-container .main-content .page-container .group-form .input-button-holder .add-button {
    width: 100%;
  }
  .main-container .main-content .item-container .item-details {
    gap: 0.5rem;
  }
  .main-container .main-content .item-container .item-details .title-holder .role {
    font-size: 1.5rem;
  }
  .main-container .main-content .item-container .item-details .details {
    gap: 1rem;
    padding: 1.8rem 0;
  }
  .main-container .main-content .item-container .item-details .details .item-detail .detail-title {
    width: 80px;
  }
  .home-container .header-container .header .header-title {
    font-size: 3rem;
  }
  .home-container .header-container .header p {
    font-size: 1rem;
  }
  .home-container .section {
    flex-direction: column;
  }
  .home-container .section .section-content {
    gap: 1rem;
  }
  .home-container .section .section-content .section-title {
    font-size: 1.2rem;
  }
  .home-container .section .section-content .section-desc {
    font-size: 1rem;
  }
  .home-container .section .section-img-holder {
    width: 100%;
    height: 50%;
  }
  footer .footer-content {
    padding: 2rem 1rem;
  }
  footer .footer-content .footer-col .footer-col-title {
    font-size: 0.9rem;
  }
  footer .footer-content .footer-col .footer-col-links a {
    font-size: 0.9rem;
  }
  footer .footer-content .footer-col p {
    font-size: 0.9rem;
  }
  footer .footer-content .footer-col .socials a {
    font-size: 0.9rem;
  }
  footer .tag {
    padding: 0.5rem 0;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 650px) {
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }
  .overlay .modal-container {
    left: 60%;
  }
  .main-container .main-content .item-container .item-details .details {
    display: flex;
    flex-direction: column;
  }
  .home-container .header-container .header .header-title {
    font-size: 2.2rem;
  }
  .home-container .header-container .header p {
    font-size: 0.9rem;
  }
  .home-container .section {
    padding: 2rem 1.5rem;
  }
  footer .footer-content {
    flex-direction: column;
  }
  footer .footer-content .footer-col {
    gap: 0.8rem;
    margin-bottom: 2rem;
  }
  .auth-container form {
    width: 90%;
    padding: 1rem;
  }
  .auth-container form .auth-title-holder .img-holder {
    width: 100px;
    height: 25px;
  }
  .auth-container form .auth-title {
    font-size: 1rem;
  }
  .auth-container form .auth-details {
    margin-bottom: 0.5rem;
  }
  .auth-container form .auth-details .auth-input {
    padding: 0.6rem 0.8rem;
    font-size: 0.9rem;
  }
  .auth-container form .auth-btn {
    padding: 0.6rem 0.8rem;
    font-size: 0.9rem;
  }
  .auth-container form .auth-redirect {
    font-size: 0.9rem;
  }
  .main-container .main-content .page-container .user-holder .user-container .user-details-container {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }
  .main-container .main-content .page-container form .input-button-holder {
    flex-direction: column;
    gap: 0.2rem;
  }
  .main-container .main-content .page-container form .input-button-holder .search-holder {
    width: 100%;
  }
  .main-container .main-content .page-container form .input-button-holder .add-button {
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
  .main-container .main-content .item-container .item-details .title-holder {
    flex-direction: column;
    gap: 0.8rem;
  }
  .main-container .main-content .item-container .item-details .title-holder .title {
    font-size: 1.2rem;
  }
  .main-container .main-content .item-container .item-details .title-holder .role {
    font-size: 1rem;
  }
  .main-container .main-content .item-container .item-details .details {
    padding: 1rem 0;
  }
  .main-container .main-content .item-container .item-details .details .item-detail {
    flex-direction: column;
  }
  .home-container .header-container .header .header-title {
    font-size: 1.5rem;
  }
  .home-container .header-container .header p {
    font-size: 0.8rem;
  }
  .home-container .section .section-content .section-title {
    font-size: 1rem;
  }
  .main-container .main-content .page-container .user-holder .user-container .user-details-container {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}/*# sourceMappingURL=styles.css.map */